body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.jpg");
    font-weight: bold;
}
h1 {
    color: goldenrod;

}
#message-el {
font-style: italic;
}
p{
    color: aliceblue;
}

#but{
    background-color:goldenrod ;
    color: green;
    font-weight: bolder;
    font-size: large;
    width:150px ;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* display: flex;
    flex-direction: column; */
}
/* #new{
    background-color:goldenrod ;
    color: green;
    font-weight: bolder;
    font-size: large;
    width:150px ;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
} */